parameters:
  f5_ve_os_image: BIGIP-13.0.0.0.0.1605.LTM.1SLOT
  f5_ve_os_flavor: m1.medium
  f5_ve_admin_username: admin
  f5_ve_admin_password: yourpassword
  f5_ve_root_password: yourpassword
  f5_ve_os_mgmt_network: f2f9d863-f2e7-4bdd-bf56-495075ecb062
  f5_ve_os_external_network: public
  f5_ve_os_network_1: f7e72576-2f8f-43b4-8932-3464a356a402
  f5_ve_os_network_1_mtu: 1450
  f5_ve_os_network_1_name: private
  f5_ve_os_ha_network: 4621eb3c-adc8-4ccc-bcc2-c93f5be344d0
  f5_ve_os_ha_network_mtu: 1450
  f5_bigiq_host: bigiq.example.com
  f5_bigiq_username: bigiq_user
  f5_bigiq_password: bigiq_password
  f5_bigiq_license_pool_name: my_bigiq_license_pool
  use_config_drive: True